<div class="container">
  <header class="header">
    <button class="btn btn--back">Back</button>

    <div class="tabs">
      <button class="tab">Questions</button>
      <button class="tab active">Activations</button>
      <button class="tab">Preview</button>
    </div>

    <div class="tools">
      <button class="btn btn--green">Add Activation</button>
      <button class="btn btn--search">Se</button>
      <button class="user-menu dropdown">Me</button>
    </div>

  </header>
  <div class="bg-wrapper">
    <div class="location">
      <span class="location__info">All tests / Тест по JS на тему: "Основы. Часть 06"</span>
    </div>

    <div class="welcome">
      <div class="question-head panel">
        <div class="top">
          <span class="badge question-info">4 Questions 20 Points</span>
          <button class="btn btn--flat">Edit Test</button>
        </div>
        <h1 class="title title--head">Тест по JS на тему: "Основы. Часть 06"</h1>
        <p class="description">Содержит вопросы по созданию обьектов с помощью &quot;функций-конструкторов&quot…</p>
      </div>
    </div>

    <div class="content">
      <div class="filters">
        <span class="count">Activations (3)</span>
        <div class="filter dropdown">All Activations</div>
      </div>

      <div class="activations">
        <div class="activation card">
          <span class="index">1</span>
          <div class="state">
            <div class="badge active">Active</div>
          </div>
          <div class="info">
            <div class="created">Created 3 days ago</div>
            <div class="title title--small title--upper">Тест по JS на тему: "Основы. Часть 06"</div>
            <div class="end-date">End in 5 days</div>
          </div>
          <div class="participants">4 Participants</div>
          <div class="card__btn-menu btn btn--menu">Me</div>
        </div>

        <div class="activation card">
          <span class="index">2</span>
          <div class="state">
            <div class="badge">Ended</div>
          </div>
          <div class="info">
            <div class="created">Created 3 days ago</div>
            <div class="title title--small title--upper">Тест по JS на тему: "Основы. Часть 06"</div>
            <div class="end-date">End in 5 days</div>
          </div>
          <div class="participants">4 Participants</div>
          <div class="card__btn-menu btn btn--menu">Me</div>
        </div>

        <div class="activation card">
          <span class="index">3</span>
          <div class="state">
            <div class="badge">Ended</div>
          </div>
          <div class="info">
            <div class="created">Created 3 days ago</div>
            <div class="title title--small title--upper">Тест по JS на тему: "Основы. Часть 06"</div>
            <div class="end-date">End in 5 days</div>
          </div>
          <div class="participants">4 Participants</div>
          <div class="card__btn-menu btn btn--menu">Me</div>
        </div>
      </div>
    </div>
  </div>
</div>